.fancy-header { color:rebeccapurple;
    text-decoration: underline;
}
h1 {text-align: center;}

body{
    background-color: lightgray ;
}

body{
    font-family: Futura
}

 table, th, td {
     padding-top: 10px;
     padding-bottom: 20px;
     padding-left: 30px;
     padding-right: 40px;
}

table {
    border-spacing: 20px;
}

p {
    border: 2px solid powderblue;
}

h1 {
    animation-duration: 8s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}

@keyframes slidein {
    0% {
        margin-left: 0%;
    }
    50% {
        margin-left: 300px;
    }
    100% {
        margin-left: 0%;
    }
}

body {
    margin: 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*h1 {*/
/*    font-family: fantasy;*/
/*    font-size: 3em;*/
/*    border-bottom: 2px solid pink;*/
/*    border-right: 2px solid pink;*/
/*    width: 400px;*/
/*    text-align: center;*/
/*    box-shadow: 4px 4px 5px #888888;*/
/*    margin-top: 10px;*/
}

img {
    width: 450px;
    height: 450px;
    margin: 10px;
    transition: all 1s;
}

img:hover {
    transform: scale(1.1);
}
